!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title Thomas Metzmacher
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:href => "/stylesheets/master.css",
          :rel => "stylesheet",
          :type => "text/css"}
    %script{:type => "text/javascript",
            :src  => "javascripts/adapt.conf.js"}
    %script{:type => "text/javascript",
            :src  => "javascripts/adapt.min.js"}

  %body
    .header
      .container_12
        %h1.grid_12 Thomas Metzmacher
