!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "de", "xml:lang" => "de"}
  %head
    %title Thomas Metzmacher
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:href => "/stylesheets/960.min.css", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src  => "javascripts/jquery-1.8.2.min.js"}
    = css :application, :media => 'screen'

  %body
    .header
      .container_12
        %h1.grid_12 Thomas Metzmacher
