!= cc_html(:lang => 'en') do
!!!
  %head
    %title Thomas Metzmacher
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:href => "/stylesheets/960.min.css", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src  => "javascripts/jquery-1.8.2.min.js"}
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = css :application, :media => 'screen'

  %body
    .content
      .picture
      .menu
        %ul
          %li
            %a{:href => ''} Activities
          %li
            %a{:href => ''} Contact
      .content_2
        .content_3
          %h1 Latest Activities
          
          %table
            - @elements.each do |element|
              %tr
                %td.logo{:class => element[:icon_class]}
                %td.message
                  .title
                    = element[:box_class]
                  = element[:text]
        
        .menu_2
          %h1 Links
          %ol
            %li
              %a{:href => 'http://leipzigonrails.de'} Leipzig on Rails
            %li
              %a{:href => 'http://railsgirls.com/'} Rails Girls
          
        .clear
      .footer
        thomet.de © 2013
