body {
  font-family: 'Geneva', 'Trebuchet MS', sans-serif;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 15px;
  color: rgb(156, 156, 156);
	background: rgb(31, 31, 31);
	margin: 0pt;
  
  a {
    color: rgb(65, 128, 255);
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    background: rgb(17, 17, 17);
    text-align: left;
    width: 800px;
    
    .picture {
      background: url('/images/picture.jpg');
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      
      height: 448px;
      width: 448px;
    }
    
    .menu {
      display: none;
      color: rgb(255, 255, 255);
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      width: 589px;
      
      ul {
        margin: 0px 15px 0px 15px;
        list-style: none;
        padding: 0px;

        li {
          list-style-type: none;
          display: inline;
          padding: 0px;
          margin: 0px;
          
          a {
            font-family: Arial, 'Lucida Grande', sans-serif;
            font-size: 11px;
            font-weight: bold;
            line-height: 28px;
            padding: 8px;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
    
    .content_2 {
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      width: 589px;
      border-top: 1px solid rgb(66, 66, 66);
      
      h1 {
        color: rgb(255, 255, 255);
        font-family: 'Consolas';
        font-size: 22px;
        font-weight: normal;
      }
      
      .content_3 {
        float: left;
        width: 389px;
        table tr {          
          td {
            padding: 10px 0px;
            
            &.logo {
              width: 64px;
              height: 64px;
              background-repeat: no-repeat;
              background-position: center 10px;

              &.icon-github {
                background-image: url('/images/github_64.png');
              }
              
              &.icon-twitter {
                background-image: url('/images/twitter_64.png');
              }

              &.icon-fotocommunity {
                background-image: url('/images/fotocommunity_64.png');
              }
            }
          
            &.message {
              padding-top: 15px;
              padding-left: 15px;
              padding-right: 15px;
              vertical-align: top;
              width: 337px;
              color: rgb(156, 156, 156);
              
              img {
                max-width: 150px;
              }

              .title {
                color: rgb(255, 255, 255);
              }
            }
          }
        }
      }
      
      .menu_2 {
        border-top: 5px solid rgb(66, 66, 66);
        width: 200px;
        float: right;
        background: rgb(33, 33, 33);
        
        h1 {
          margin-left: 10px;
        }
        
        ol {
          padding: 0 0 0 15px;
          margin: 0;
          text-indent: 0;
          list-style-type: none;
          list-style-image: none;
          
          li {
            &:before {
              content: '➡';
              color: rgb(115, 250, 121);
              font-family: 'ZapfDingbatsITC', 'Zapf Dingbats';
              font-size: 11px;
              font-stretch: normal;
              font-style: normal;
              font-weight: 400;
            }
            
            line-height: 22px;
            padding-left: 20px;
            text-indent: -20px;
          }
        }
      }
    }

    .footer {
      font-size: 10px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      padding: 5px 0;
      width: 589px;
      border-top: 1px solid rgb(66, 66, 66);
      text-align: center;
    }
  }
}

.clear {
  clear:left;
}
